[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/skrider/nvim-config
[submodule "gtypist/gtypist-workman"]
	path = gtypist/gtypist-workman
	url = https://github.com/cofi/gtypist-workman
