[submodule "ubuntu/config/spacemacs"]
	path = ubuntu/config/spacemacs
	url = https://github.com/syl20bnr/spacemacs
[submodule "ubuntu/config/doom-emacs"]
	path = ubuntu/config/doom-emacs
	url = https://github.com/hlissner/doom-emacs
[submodule "ubuntu/config/chemacs2"]
	path = ubuntu/config/chemacs2
	url = https://github.com/plexus/chemacs2
[submodule "ubuntu/config/.emacs.d"]
	path = ubuntu/config/.emacs.d
	url = https://github.com/plexus/chemacs2
