[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = skrider
	email = skrider@berkeley.edu
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager-core
[core]
	editor = code --wait
	excludesfile = /home/sk/.gitignore_global
[credential "https://dev.azure.com"]
	useHttpPath = true
